@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #d1b19e;
    font-family: "Poppins";
    color: #ffffff;
}

header {
    text-align: center;
}

section {
    background-color: #F2F2F2;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1c100c24;
    width: 500px;
    color: rgb(23, 16, 3);
}

footer {
    text-align: center;
}

div {
    text-align: center;
    padding: 10px;
}

img {
    width: 320px;
}

a {
    color: #ffffff;
}